/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .mail-form{
    display: flex;
    justify-content: center;
    padding: 2rem;
    
 }

#button {
    display: inline-block;
    color: #fff;
    background-color: red;
    border-radius: 20px;
    border: none;
    padding: 5px 5px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    margin: 2rem 2rem 2rem 5rem;
  }

  #button:hover {
    background-color: grey;
    transition: background-color 0.3s ease-in-out;
  }
  
  #button:active {
    background-color: grey;
    transition: background-color 0.3s ease-in-out;
  }
  